/* navbar portion starts */
.nav-item>a:hover{
   
    background-color:#FFC107;
}

.active{
    background-color:#FFC107;   
}


/* navbar portion ends */

/* body portion starts */

.widthh{
    height: 100px;
}

/* .txtalign{
    justify-content: space-around;
}
 */

.nouline{
    text-decoration: none;
}

.slide1{
    display: flex;
    flex-direction: row;
}
/* .slide1a{
    display: flex;
    flex-direction: column;
 
} */
.sizer{
    height: 70vh;
    width: auto;
}
