/* navbar portion starts */
.nav-item>a:hover{
    background-color:goldenrod;
}

.active{
    background-color:goldenrod;   
}


/* navbar portion ends */

/* body portion starts */

.nouline{
    text-decoration: none;
}

.cardtxt{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    
}
.cardtxt1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    
}
.badge-primary {
    color: #212529;
    background-color: #FFCC00;
    
}

.flecs{
    display: flex;
    /* flex-direction: row; */
}